$background-start-rgb: rgb(38, 38, 38);
$background-end-rgb: rgb(28, 28, 28);
$foreground-rgb: rgb(255, 255, 255);
$regular-font: Formula1-Regular;

.header {
    height: 2em;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2em;
    background-color: $background-end-rgb;
    box-shadow: 0px 1px 30px -20px rgb(95, 95, 95);

    :first-child {
        margin-right: auto;
        width: 5em;
        fill: red($color: #000000);
    }

    .link {
        text-decoration: none;
        font-size: 1em;
        color:  $foreground-rgb;
        font-family: $regular-font;
    }

    .github {
        width: 1.5em;
        height: 1.5em;
        background-color: $foreground-rgb;
        border-radius: 50%;
        border: 2px solid $foreground-rgb;
        fill: white;
    }
}
